.App {
  min-height: 100vh;
  height: auto;
  background-color: aliceblue;
}

input {
  padding: 12px;
  border: none;
  background-color: gray;
  font-size: 1.5rem;
  color: white;

}

.saveBtn{
  padding: 12px;
  border: none;
  background-color: cadetblue;
  font-size: 1.5rem;
  margin-left: 12px;
}

.toggled {
  text-decoration-line : line-through;
}

.container {
  text-align: center;
}
ul,li {
  list-style-type: none;
}

.taskWrapper {
  position: relative;
  font-size: 2rem;
}

.deleteBtn {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  background-color: tomato;
  border: none;
  width: 1.5rem;
  border-radius: 6px;
  margin-right: 1rem;
}

.clearBtn{
  
  padding: 12px;
  color: white;
  background-color: black;
  font-size: 1.5rem;
}

.markBtn {
  padding: 12px;
  color: white;
  background-color: black;
  font-size: 1.5rem;
  margin-left: 1rem;
}